@{
    ViewData["Title"] = "About Me";
}

<div class="row">
    <!-- Left Side: Bio Details -->
    <div class="col-lg-7 mb-4">
        <div class="content-box-about-text">
            <h1 class="mb-3"><strong>Sean Andrei</strong></h1>
            <h5 class="mb-3">Angeles University Foundation | <strong>Latin Honors</strong></h5>
            <ul class="list-unstyled">
                <li class="mb-2">• Lorem Ipsum, Lorem Ipsum, Lorem Ipsum</li>
                <li class="mb-2">• Lorem Ipsum, Lorem Ipsum, Lorem Ipsum</li>
                <li class="mb-2">• Lorem Ipsum, Lorem Ipsum, Lorem Ipsum</li>
                <li class="mb-2">• Lorem Ipsum, Lorem Ipsum, Lorem Ipsum</li>
                <li class="mb-2">• Lorem Ipsum, Lorem Ipsum, Lorem Ipsum</li>
                <li class="mb-2">• Lorem Ipsum, Lorem Ipsum, Lorem Ipsum</li>
                <li class="mb-2">• Lorem Ipsum, Lorem Ipsum, Lorem Ipsum</li>
            </ul>
        </div>
    </div>

    <!-- Right Side: Avatar -->
    <div class="col-lg-5 d-flex justify-content-center">
        <div class="content-box-avatar">
            <img src="~/img/placeholder.png" alt="Sean's Avatar" class="img-fluid about-avatar">
        </div>
    </div>
</div>
