@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <div class="row">
        <!-- Chat Bubble Section -->
        <div class="col-lg-7 mb-4">
            <div class="content-box d-flex flex-column justify-content-center align-items-start p-4">
                <div class="chat-bubble">hello!</div>
                <div class="chat-bubble mt-3">i am sean</div>
            </div>
        </div>

        <!-- Avatar Section -->
        <div class="col-lg-5 mb-4 d-flex justify-content-center align-items-center">
            <div class="content-box p-4 text-center avatar-container">
                <img src="~/img/placeholder.png" alt="Sean's Avatar" class="img-fluid">
            </div>
        </div>
    </div>
</div>
